name: nanshu-gateway build images

on:
  workflow_dispatch:
    inputs:
      nanshu-gateway-comet:
        description: 'nanshu-gateway-comet'
        required: true
        default: 'false'
      nanshu-gateway-job:
        description: 'nanshu-gateway-job'
        required: true
        default: 'false'
      nanshu-gateway-logic:
        description: 'nanshu-gateway-logic'
        required: true
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # 生成时间戳
      - name: Generate Timestamp
        run: echo "TIMESTAMP=$(TZ='Asia/Shanghai' date  '+%Y%m%d%H%M%S')" >> $GITHUB_ENV

      # 设置环境变量
      - name: Set Image Version
        run: echo "IMAGE_VERSION=v1.0.${{ env.TIMESTAMP }}" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build with Maven
        run: mvn -B package --file pom.xml  -Dmaven.test.skip=true -Drevision=${{ env.IMAGE_VERSION }}

      - name: Build nanshu-gateway-comet docker images
        id: build-comet
        if: ${{ github.event.inputs.nanshu-gateway-comet =='true'}}
        run: |
          START_TIME=$(date +%s)
          cd nanshu-gateway-comet
          docker build -t ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-comet:${{env.IMAGE_VERSION}} -f docker/Dockerfile .
          docker push ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-comet:${{env.IMAGE_VERSION}}
          END_TIME=$(date +%s)
          BUILD_TIME=$((END_TIME - START_TIME))
          MINUTES=$((BUILD_TIME / 60))
          SECONDS=$((BUILD_TIME % 60))
          echo "comet_image=${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-comet:${{env.IMAGE_VERSION}}" >> $GITHUB_OUTPUT
          echo "comet_build_time=${MINUTES}分${SECONDS}秒" >> $GITHUB_OUTPUT

      - name: Build nanshu-gateway-job docker images
        id: build-job
        if: ${{ github.event.inputs.nanshu-gateway-job =='true'}}
        run: |
          START_TIME=$(date +%s)
          cd nanshu-gateway-job
          docker build -t ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-job:${{env.IMAGE_VERSION}} -f docker/Dockerfile  .
          docker push ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-job:${{env.IMAGE_VERSION}}
          END_TIME=$(date +%s)
          BUILD_TIME=$((END_TIME - START_TIME))
          MINUTES=$((BUILD_TIME / 60))
          SECONDS=$((BUILD_TIME % 60))
          echo "job_image=${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-job:${{env.IMAGE_VERSION}}" >> $GITHUB_OUTPUT
          echo "job_build_time=${MINUTES}分${SECONDS}秒" >> $GITHUB_OUTPUT

      - name: Build nanshu-gateway-logic docker images
        if: ${{ github.event.inputs.nanshu-gateway-logic =='true'}}
        id: build-logic
        run: |
          START_TIME=$(date +%s)
          cd nanshu-gateway-logic
          docker build -t ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-logic:${{env.IMAGE_VERSION}} -f docker/Dockerfile .
          docker push ${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-logic:${{env.IMAGE_VERSION}}
          END_TIME=$(date +%s)
          BUILD_TIME=$((END_TIME - START_TIME))
          MINUTES=$((BUILD_TIME / 60))
          SECONDS=$((BUILD_TIME % 60))
          echo "logic_image=${{vars.DOCKER_REGISTRY_URL}}/nangubeishang/nanshu-gateway-logic:${{env.IMAGE_VERSION}}" >> $GITHUB_OUTPUT
          echo "logic_build_time=${MINUTES}分${SECONDS}秒" >> $GITHUB_OUTPUT

      - name: Prepare notification message
        id: prepare-message
        if: ${{ github.event.inputs.nanshu-gateway-comet =='true' || github.event.inputs.nanshu-gateway-job =='true' || github.event.inputs.nanshu-gateway-logic =='true'}}
        run: |
          message="构建成功，推送了以下镜像：\n"
          if [[ "${{ github.event.inputs.nanshu-gateway-comet }}" == "true" ]]; then
            message+="- ${{ steps.build-comet.outputs.comet_image }} (耗时: ${{ steps.build-comet.outputs.comet_build_time }})\n"
          fi
          if [[ "${{ github.event.inputs.nanshu-gateway-job }}" == "true" ]]; then
            message+="- ${{ steps.build-job.outputs.job_image }} (耗时: ${{ steps.build-job.outputs.job_build_time }})\n"
          fi
          if [[ "${{ github.event.inputs.nanshu-gateway-logic }}" == "true" ]]; then
            message+="- ${{ steps.build-logic.outputs.logic_image }} (耗时: ${{ steps.build-logic.outputs.logic_build_time }})\n"
          fi
          echo "message=$message" >> $GITHUB_OUTPUT

      - name: Invoke deployment hook
        if: ${{ github.event.inputs.nanshu-gateway-comet =='true' || github.event.inputs.nanshu-gateway-job =='true' || github.event.inputs.nanshu-gateway-logic =='true'}}
        run: |
          curl --location '${{ secrets.NOTIFY_WEBHOOK_URL }}' \
            --header 'Content-Type: application/json' \
            --data '{"content":"{\"zh_cn\":{\"title\":\"构建结果\",\"content\":[[{\"tag\":\"md\",\"text\":\"${{ steps.prepare-message.outputs.message }} <at user_id=\"all\">所有人</at>\"}]]}}","msg_type":"post"}'
